.item {
  border-radius: var(--mantine-radius-sm);
  border: rem(1px) solid
    light-dark(var(--mantine-color-blue-2), var(--mantine-color-blue-5));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-xs);
  padding-left: calc(var(--mantine-spacing-xs) - var(--mantine-spacing-sm));
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-5));
  margin-bottom: var(--mantine-spacing-sm);
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 100%;
}

.itemDragging {
  box-shadow: var(--mantine-shadow-sm);
}

.symbol {
  font-size: rem(30px);
  font-weight: 700;
  text-align: center;
  justify-content: center;
  justify-items: center;
  top: 50%;
  left: 50%;
  position: relative;
}

.dragHandle {
  height: 100%;
  text-align: center;
  justify-content: center;
  justify-items: center;
  top: 50%;
  left: 50%;
  position: relative;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}

.floating-input {
  border-radius: var(--mantine-radius-md);
  border: rem(1px) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-5));
  margin-bottom: var(--mantine-spacing-sm);
}
